#home {
    z-index:0;overflow:hidden;grid-template-columns:auto 100rem auto;display:grid;position:relative;align-items:center;
}

#zUyYR0ikzdOcEBFj {
    display:grid;min-height:100%;position:absolute;grid-area:1 / 1 / 2 / 4;min-width:100%;
}

#Ap1Xy1iK5xXuJVQV {
    transform:rotate(0deg);width:100%;box-sizing:border-box;height:100%;
}

#q5gZ5O0cmNdM6kd7 {

    width:100%;opacity:1.0;height:100%;
}

#To02VjR3qJzqMbBB {

    background-color:#ffffff;transform:scale(1, 1);overflow:hidden;width:100%;position:relative;opacity:1.0;height:100%;
}

#yVoPtoE24tDjPAX5 {
    transform:rotate(0deg);top:-0.02441406%;left:0%;width:100%;position:absolute;height:100.04882813%;opacity:1.0;animation:pulse 1.5s ease-in-out infinite;
}

#backgroundimg {

    display:block;object-fit:cover;width:100%;height:100%;
}

#t5B8ufiXkSR4UDKe {

    display:grid;position:relative;grid-area:1 / 2 / 2 / 3;
}

#dUjXtqmT0Q9MjPJ0 {

    padding-top:100%;transform:rotate(0deg);
}

#vrXBYftZP2tMeS3a {

    top:0px;left:0px;width:100%;position:absolute;height:100%;
}
